.upper-bg{
    background-color:#ffccbc;
    height: 100px;
    width: 100%;
}
.form-container{
    background-color: #ffffff;
    top:10%;
    left: 15%;
    position:absolute;
    width: 70%;
    height: 75%;
}
.body{
    background-color: #d3e3fc;
}
.chat-container{
    position: relative;
     width: 30%;
     height: 100%;
     float: left;
}
.logo{
  position: relative;
  width: 10%;
  height: 50%; 
}
.regbut{
    background-color: #00887a;
    color: #ffffff;
    border: 0ch;
    
}
.regbut:hover{
    background-color: #000000;
}
.in-register{
    height: 550px; 
    max-width: 750px;
}
.in-Login{
    height: 350px; 
    max-width: 750px;
}


.reg-head{
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 4px;
    color: #000000;
    font-weight: normal;
    font-style: italic;
}